/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Illumina short-read isolate analysis of Acanthamoeba
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the standard pipeline.

    Use as follows:
        nextflow run CDCgov/WDPB_CryptoSSU -profile acanthamoeba,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'acanthamoeba'
    config_profile_description = 'Typical parameters for running this pipeline to analyze isolate WGS for Acanthamoeba'

    // Input data to activate isolate WGS analysis for Acanthamoeba species
    platform           = 'illumina'
    protocol           = 'metagenomic'

    // Genome references
    kraken2_db = 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20230407.tar.gz'

    // Variant calling options
    variant_caller = 'bcftools'

    // Assembly options
    assemblers     = 'spades,unicycler,skesa'

    // Blast options --> NOTE: These are currently hard-coded with SciComp paths!  Update in the future
    blast_db       = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/databases/acanthamoeba_blast.tar.gz"
    db_18S         = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/databases/ACAN_18S/"
    db_gp60        = "" 
    
    // Reference genome options
    fasta          = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/data/ACAN_ref/AmoebaDB-67_AcastellaniiNeff_REF.fasta"
    gff            = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/data/ACAN_ref/AmoebaDB-67_AcastellaniiNeff.gff"
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
