/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Illumina short-read isolate analysis of Cryptosporidium
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the standard pipeline.

    Use as follows:
        nextflow run CDCgov/WDPB_CryptoSSU -profile cryptosporidium,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'cryptosporidium'
    config_profile_description = 'Typical parameters for running this pipeline to analyze isolate WGS for Cryptosporidium'

    // Input data to activate isolate WGS analysis for Cryptosporidium species
    platform           = 'illumina'
    protocol           = 'metagenomic'

    // Genome references
    kraken2_db = 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20230407.tar.gz'

    // Variant calling options
    variant_caller = 'bcftools'

    // Assembly options
    assemblers     = 'spades,unicycler,skesa'

    // Blast options
    blast_db       = "${baseDir}/assets/databases/cryptosporidium_blast.tar.gz"
    db_18S         = "${baseDir}/assets/databases/18S/"
    db_gp60        = "${baseDir}/assets/databases/gp60/Crypto_GP60_DB_02-21-2024_v06"
    
    // Reference genome options
    fasta          = "${baseDir}/assets/CryptoDB-54_CparvumIowaII_Genome.fasta"
    gff            = "${baseDir}/assets/CryptoDB-54_CparvumIowaII.gff"
    
    // MLST calling
    allele_seqs    = "${baseDir}/assets/allalleles_0.fasta"
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
