/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Illumina short-read isolate analysis of Giardia
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the standard pipeline.

    Use as follows:
        nextflow run CDCgov/WDPB_CryptoSSU -profile giardia,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'giardia'
    config_profile_description = 'Typical parameters for running this pipeline to analyze isolate WGS for Giardia'

    // Input data to activate isolate WGS analysis for Giardia species
    platform           = 'illumina'
    protocol           = 'metagenomic'

    // Genome references
    kraken2_db = 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20230407.tar.gz'

    // Variant calling options
    variant_caller = 'bcftools'

    // Assembly options
    assemblers     = 'spades,unicycler,skesa'

    // Blast options --> NOTE: These are currently hard-coded with SciComp paths!  Update in the future
    blast_db       = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/databases/giardia_blast.tar.gz"
    db_18S         = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/databases/GIA_18S/"
    db_gp60        = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/assets/databases/tpi/tpi" 
    
    // Reference genome options
    fasta          = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/data/GIA_ref/GiardiaDB-67_GintestinalisAssemblageBGS_B_Genome.fasta"
    gff            = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/MEPI/ngr8/data/GIA_ref/GiardiaDB-67_GintestinalisAssemblageBGS_B.gff"
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
