/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CDCgov/WDPB_CryptoSSU -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data to test amplicon analysis
    input              = "${baseDir}/assets/cryptosporidium_test.samplesheet.csv"
    platform           = 'illumina'
    protocol           = 'metagenomic'

    // Genome references
    kraken2_db = 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20230407.tar.gz'

    // Variant calling options
    variant_caller = 'bcftools'

    // Assembly options
    assemblers     = 'spades,unicycler,skesa'

    // Blast options
    blast_db       = "${baseDir}/assets/databases/cryptosporidium_blast.tar.gz"
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
